<h1 class="title">Rotten Mangoes</h1>
<%= link_to "Submit a movie!", new_movie_path %>
<hr>
  <%= form_tag(movies_search_path, :method => 'get', id: "search-form") do %>
    <%= text_field_tag :keyword, params[:keyword], placeholder: "title or director" %>
    <select name="duration"> 
      <option value = ''></option>
      <option value = 'runtime_in_minutes < 90'>Under 90 minutes</option>
      <option value = 'runtime_in_minutes >= 90 AND runtime_in_minutes <= 120'>Between 90 and 120 minutes</option>
      <option value = 'runtime_in_minutes > 120'>Over 120 minutes</option>
    </select>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
<hr>
<% @movies.each do |movie| %>
  <div>
    <%#= link_to image_tag(movie.poster_image_url), movie_path(movie) %>
    <%= image_tag movie.poster %>
  </div>
  
  <h2><%= link_to movie.title, movie_path(movie) %></h2>
  <h3><%= formatted_date(movie.release_date) %></h3>
  <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
  <p><%= movie.description %></p>
  <p><%= movie.review_average %>/10</p>
  <hr>
<% end %>